<div class="grid-container">
  <h1 class="mat-h1 text-orange" style='text-align: center;'>Mon tableau de bord</h1>
  <mat-grid-list [cols]='colsCount' [rowHeight]='ratio'>      
    <!-- Dernière activité et stats en cours -->
    <mat-grid-tile [colspan]='colspanActivityPreview' [rowspan]='rowspanActivityPreview'>        
      <app-last-activity-preview></app-last-activity-preview>
    </mat-grid-tile>        
    <!-- Année en cours  --> 
    <mat-grid-tile [colspan]='colspanSynthese' [rowspan]='rowspanSynthese'>
        <mat-card class="dashboard-card mat-elevation-z8">
          <mat-card-header>
            <mat-card-title class="text-orange">
              Synthèse annuelle
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <mat-list>
                <mat-list-item> 
                    <img mat-list-icon src='assets/runningIcon.png' ><b>Runs</b><span class="fontSize-synthese text-orange"> {{ actualYearStats.totalRuns[0] }} </span><mat-divider></mat-divider>
                </mat-list-item>                
                <mat-list-item>
                    <img mat-list-icon src='assets/distance.png' ><b>Distance</b>
                    <span class="fontSize-synthese text-orange">{{ actualYearStats.totalDistance[0] }} </span><span class="fontSize-syntheseSmall"> Km</span>
                    <span class="fontSize-synthese separator">|</span>
                    <span class="fontSize-synthese text-orange">{{ actualYearStats.totalDistance[1] }} </span><span class="fontSize-syntheseSmall"> Km/activité</span><mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src='assets/horloge.svg' ><b>Temps</b>
                    <span class="fontSize-synthese text-orange">{{ actualYearStats.totalTime[0] }} </span><span class="fontSize-syntheseSmall"> H</span>
                    <span class="fontSize-synthese separator">|</span>
                    <span class="fontSize-synthese text-orange">{{ actualYearStats.totalTime[1] }} </span><span class="fontSize-syntheseSmall"><span> min/activité</span></span><mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src='assets/average.png' ><b>Allure</b>
                    <span class="fontSize-synthese text-orange">{{ actualYearStats.averageSpeed[0] }} </span><span  class="fontSize-syntheseSmall"> min/Km</span>
                    <span class="fontSize-synthese separator">|</span> 
                    <span class="fontSize-synthese text-orange">{{ actualYearStats.averageSpeed[1] }} </span><span class="fontSize-syntheseSmall"> Km/heure</span>
                </mat-list-item>
              </mat-list>
          </mat-card-content> 
        </mat-card>
      </mat-grid-tile>
    <mat-grid-tile [colspan]='colspanGraphs' [rowspan]='rowspanGraphs'>
        <mat-card class="dashboard-card mat-elevation-z8">
          <mat-card-header>
            <mat-card-title class="text-orange">
              Année en cours
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <!-- <div>Card Content Here</div> -->
            <canvas id="chartN"></canvas>
          </mat-card-content>          
        </mat-card>
      </mat-grid-tile> 
      <mat-grid-tile [colspan]='colspanGraphs' [rowspan]='rowspanGraphs'> 
          <mat-card class="dashboard-card mat-elevation-z8">
            <mat-card-header>
              <mat-card-title class="text-orange">
                Distance parcourue cette année
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <!-- <div>Card Content Here</div> -->
              <canvas id="distanceN"></canvas>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>      
     <!-- N - 1  -->
     <mat-grid-tile [colspan]='colspanSmall' [rowspan]='rowspanSmall'>
        <mat-card class="dashboard-card mat-elevation-z8">
          <mat-card-header>
            <mat-card-title class="text-orange">
              Tendance sur l'année
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">   
              <mat-list>               
                  <mat-list-item>
                    <img mat-list-icon src='assets/distance.png'><b>Distance</b>                    
                    <span *ngIf="tendance.distance > -1 "><img mat-list-icon src='assets/green_arrow_up.png'>( <span style="color: green"><b>+ {{ tendance.distance }}</b></span> kilomètre(s) par activité ) </span>
                    <span *ngIf="tendance.distance < -1"><img mat-list-icon src='assets/red_arrow_down.png'>( <span style="color: red"><b>{{ tendance.distance }}</b></span> kilomètre(s) par activité ) </span>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                  <mat-list-item>
                    <img mat-list-icon src='assets/horloge.svg'><b>Temps</b>
                    <span *ngIf="tendance.time > -1"><img mat-list-icon src='assets/green_arrow_up.png'>( <span style="color: green"><b>{{ tendance.time }}</b></span> minute(s) par activité ) </span>
                    <span *ngIf="tendance.time < -1"><img mat-list-icon src='assets/red_arrow_down.png'>( <span style="color: red"><b>+ {{ tendance.time }}</b></span> minute(s) par activité ) </span>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                  <mat-list-item>
                    <img mat-list-icon src='assets/average.png'><b>Allure</b>
                    <span *ngIf="tendance.averageSpeed < -1"><img mat-list-icon src='assets/green_arrow_up.png'>( <span style="color: green"><b>- {{ tendance.averageSpeed }}</b></span> min/Km par activité ) </span>
                    <span *ngIf="tendance.averageSpeed > -1"><img mat-list-icon src='assets/red_arrow_down.png'>( <span style="color: red"><b>+ {{ tendance.averageSpeed }}</b></span> min/Km par activité ) </span>
                  </mat-list-item>
                </mat-list>                                    
          </mat-card-content>          
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='colspanSynthese' [rowspan]='rowspanSynthese'>
          <mat-card class="dashboard-card mat-elevation-z8">
            <mat-card-header>
              <mat-card-title class="text-orange">
                Synthèse pour l'année dernière
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <mat-list>
                <mat-list-item> 
                    <img mat-list-icon src='assets/runningIcon.png' ><b>Runs</b><span class="fontSize-synthese text-orange"> {{ lastYearStats.totalRuns[0] }} </span><mat-divider></mat-divider>
                </mat-list-item>                
                <mat-list-item>
                    <img mat-list-icon src='assets/distance.png' ><b>Distance</b>
                    <span class="fontSize-synthese text-orange">{{ lastYearStats.totalDistance[0] }} </span><span class="fontSize-syntheseSmall"> Km</span>
                    <span class="fontSize-synthese separator">|</span>
                    <span class="fontSize-synthese text-orange">{{ lastYearStats.totalDistance[1] }} </span><span class="fontSize-syntheseSmall"> Km/activité</span><mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src='assets/horloge.svg' ><b>Temps</b>
                    <span class="fontSize-synthese text-orange">{{ lastYearStats.totalTime[0] }}</span><span class="fontSize-syntheseSmall">H</span>
                    <span class="fontSize-synthese separator">|</span>
                    <span class="fontSize-synthese text-orange">{{ lastYearStats.totalTime[1] }}</span><span class="fontSize-syntheseSmall"><span>min/activité</span></span><mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-icon src='assets/average.png' ><b>Allure</b>
                    <span class="fontSize-synthese text-orange">{{ lastYearStats.averageSpeed[0] }}</span><span  class="fontSize-syntheseSmall">min/Km</span>
                    <span class="fontSize-synthese separator">|</span>
                    <span class="fontSize-synthese text-orange">{{ lastYearStats.averageSpeed[1] }}</span><span class="fontSize-syntheseSmall">Km/heure</span> 
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>  
      <mat-grid-tile [colspan]='colspanGraphs' [rowspan]='rowspanGraphs'>
        <mat-card class="dashboard-card mat-elevation-z8">
          <mat-card-header>
            <mat-card-title class="text-orange">
              L'année dernière
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <canvas id="chartN-1"></canvas>
          </mat-card-content>          
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='colspanGraphs' [rowspan]='rowspanGraphs'>
          <mat-card class="dashboard-card mat-elevation-z8">
            <mat-card-header>
              <mat-card-title class="text-orange">
                Distance parcourue l'année dernière
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content"> 
              <canvas id="distanceN-1"></canvas>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>          
  </mat-grid-list>
</div>
