.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;  
  overflow: hidden;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: black;
}

.text-orange{
  color: #fc4c02; 
}

.fontSize-synthese{
  font-size: 2em;
  margin-left: 0.2em;
}


.separator{
  margin-left: 0.2em;
}

.marginTitle{
  margin-left: 0.8em;
  font-size: 1.1em;
}